/* line 8, ../scss/style.scss */
body {
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  background-image: url("../../example/common/img/dark_wood.png");
}

/* line 14, ../scss/style.scss */
div#wrapper {
  width: 960px;
  margin: 40px auto 80px;
  font-weight: bold;
}

/* line 23, ../scss/style.scss */
header {
  color: #ffffff;
  padding-bottom: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
  -webkit-box-shadow: rgba(255, 255, 255, 0.08) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.08) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.08) 0 1px 0;
}
/* line 26, ../scss/style.scss */
header h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 15px;
  padding: 0;
  letter-spacing: 1px;
  text-shadow: 0 6px 1px rgba(120, 120, 120, 0.1), 0 0 5px rgba(120, 120, 120, 0.1), 0 1px 3px rgba(120, 120, 120, 0.3), 0 3px 5px rgba(120, 120, 120, 0.2), 0 5px 10px rgba(120, 120, 120, 0.25), 0 10px 10px rgba(120, 120, 120, 0.2), 0 20px 20px rgba(120, 120, 120, 0.15);
}
/* line 44, ../scss/style.scss */
header p {
  text-align: center;
  margin: 0;
  margin-bottom: 6px;
}
/* line 48, ../scss/style.scss */
header p a {
  color: #aaaaaa;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 52, ../scss/style.scss */
header p a:hover {
  color: #fb292d !important;
}
/* line 59, ../scss/style.scss */
header div.container_button {
  margin-top: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
/* line 65, ../scss/style.scss */
header div.container_button p {
  float: left;
}
/* line 68, ../scss/style.scss */
header div.container_button p:first-child {
  margin-right: 40px;
}
/* line 72, ../scss/style.scss */
header div.container_button p a.button {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #eee;
  color: #515151;
  display: inline-block;
  font-size: 12px;
  padding: 8px 12px;
  position: relative;
  text-decoration: none;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.21, #cbcbcb), color-stop(0.58, #e3e2e2));
  background: -moz-linear-gradient(center bottom, #cbcbcb 21%, #e3e2e2 58%);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3), inset 0 1px 0 0 rgba(255, 255, 255, 0.5), inset 0 -3px 0 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3), inset 0 1px 0 0 rgba(255, 255, 255, 0.5), inset 0 -3px 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3), inset 0 1px 0 0 rgba(255, 255, 255, 0.5), inset 0 -3px 0 0 rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px rgba(255, 255, 255, 0.6);
}
/* line 93, ../scss/style.scss */
header div.container_button p a.button:before {
  background: #cbcbcb;
  cursor: pointer;
}
/* line 100, ../scss/style.scss */
header div.container_button p a.button:active {
  background: #ccc;
  padding: 9px 12px 7px !important;
  -moz-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3), inset 0 -1px 0 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3), inset 0 -1px 0 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3), inset 0 -1px 0 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  text-shadow: none;
}

/* line 122, ../scss/style.scss */
aside {
  float: left;
  width: 240px;
  padding-right: 40px;
  border-right: 1px solid black;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) -1px 0 0 inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) -1px 0 0 inset;
  box-shadow: rgba(255, 255, 255, 0.1) -1px 0 0 inset;
}
/* line 130, ../scss/style.scss */
aside ul.chapter {
  margin: 0 0 40px;
  padding: 0;
}
/* line 134, ../scss/style.scss */
aside ul.chapter li.title {
  list-style: none;
  font-size: 18px;
  color: #ffffff;
  padding-bottom: 4px;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
  cursor: pointer;
  -webkit-box-shadow: rgba(255, 255, 255, 0.08) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.08) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.08) 0 1px 0;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 149, ../scss/style.scss */
aside ul.chapter li.title:hover {
  color: #fb292d;
}
/* line 154, ../scss/style.scss */
aside ul.chapter div.wrappSmallCh {
  height: 0;
  overflow: hidden;
}
/* line 158, ../scss/style.scss */
aside ul.chapter div.wrappSmallCh ul.smallCh {
  margin: 0;
  padding: 0;
}
/* line 162, ../scss/style.scss */
aside ul.chapter div.wrappSmallCh ul.smallCh li {
  color: #cccccc;
  list-style: none;
  margin-bottom: 6px;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 169, ../scss/style.scss */
aside ul.chapter div.wrappSmallCh ul.smallCh li a {
  color: #aaaaaa;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 174, ../scss/style.scss */
aside ul.chapter div.wrappSmallCh ul.smallCh li a:hover {
  color: #7d2121;
}
/* line 181, ../scss/style.scss */
aside ul.chapter div.wrappSmallCh ul.smallCh li:hover {
  color: #7d2121;
}
/* line 187, ../scss/style.scss */
aside ul.chapter div.wrappSmallCh ul.smallCh li.ommit:hover {
  color: #cccccc !important;
}
/* line 192, ../scss/style.scss */
aside ul.chapter div.wrappSmallCh ul.smallCh li.selected {
  color: #fb292d !important;
}
/* line 194, ../scss/style.scss */
aside ul.chapter div.wrappSmallCh ul.smallCh li.selected a {
  text-decoration: none;
  color: #fb292d !important;
}

/*exception li's id*/
/* line 208, ../scss/style.scss */
li.ommit {
  text-decoration: line-through;
  cursor: default !important;
}
/* line 212, ../scss/style.scss */
li.ommit:hover {
  color: #ffffff !important;
}

/* line 217, ../scss/style.scss */
article {
  margin-left: 40px;
  float: left;
  overflow: hidden;
}
/* line 222, ../scss/style.scss */
article iframe {
  width: 600px;
  height: 860px;
  overflow: hidden;
}

/* line 229, ../scss/style.scss */
footer {
  padding-top: 15px;
  margin-top: 40px;
  border-top: 1px solid black;
  -webkit-box-shadow: rgba(255, 255, 255, 0.08) 0 1px 0 inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.08) 0 1px 0 inset;
  box-shadow: rgba(255, 255, 255, 0.08) 0 1px 0 inset;
}
/* line 236, ../scss/style.scss */
footer p {
  color: #fff;
  font-size: 14px;
  text-align: right;
  margin: 0;
  padding: 0;
}
/* line 242, ../scss/style.scss */
footer p a {
  color: #aaaaaa;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 246, ../scss/style.scss */
footer p a:hover {
  color: #fb292d !important;
}

/*clear*/
/* line 256, ../scss/style.scss */
div.clear {
  clear: both;
}

/* mixin */
