body {
    /*background-color: #999;*/
    color: #ffffff;
    background-image: url("../img/dark_wood.png");
    font-size: 12px;
}

div#container {
    width: 600px;
    margin: 0;
}

canvas {
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);

    margin-bottom: 0px;
}

h1 {
    font-family: 'Lato', sans-serif;

    -webkit-text-shadow: 1px -1px 0 rgba(0, 0, 0, .1);
    -moz-text-shadow: 1px -1px 0 rgba(0, 0, 0, .1);
    text-shadow: 1px -1px 0 rgba(0, 0, 0, .1);
}

h1 {
    margin-bottom: 5px;
}

h2{
    margin-bottom: 5px;
}

div#date {
    margin-bottom: 10px;
}

div.back{
    text-align: center;
}

div.back a{
    color: #ffffff;
}

div.clear{
    clear: both;

}

div.menu{
    font-size: 18px;
    height: 20px;
    margin-bottom: 60px;
}

div.left{
    float: left;
}

div.right a{
    color: #ffffff;
    text-decoration: none;
}

div.left a{
    color: #ffffff;
    text-decoration: none;
}

div.right{
    float:right;
}

div.equation{
    padding: 10px 5px;
    margin-bottom: 30px;

}

div.bottomMargin{
    height: 30px;
}

div#canvas_div{
    position: relative;
}

div#canvas_div div.dg{
    position: absolute;
    top: 0;
    right: 0;
    width: 120px !important;
    opacity: 0.25;
}

div#canvas_div div.dg:hover{

    opacity: 0.8;
}

div#canvas_div div.close-button{
    width: 120px !important;
}

/*only available for index.html in 3_Matrix/4_rotation folder */

div#large_canvas_div{
    position: relative;
}

div#large_canvas_div div.close-button{
    width: 200px !important;
}

div#large_canvas_div div.dg{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px !important;
    opacity: 0.4;
}

div#large_canvas_div div.dg:hover{
    opacity: .8;
}